<div class='row'>
  <div class='col-md-4'>
    <pm-product-list
      [displayCode]="displayCode$ | async"
      [selectedProduct]="selectedProduct$ | async"
      [errorMessage]="errorMessage$ | async"
      [products]="products$ | async"
      (checked)="checkChanges($event)"
      (initializedNewProduct)="newProduct()"
      (selected)="productSelected($event)"
    ></pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit
      [product]="selectedProduct$ | async"
      [errorMessage]="errorMessage$ | async"
      (deletedProduct)="deleteProduct($event)"
      (actionSaveProduct)="saveProduct($event)"
    ></pm-product-edit>
  </div>
</div>